EeZF3f3V_1KBjo3OaFGMe-Optimizaci_n_LLM_Batching_Cach_prod_.json
{
  "name": "Optimización LLM - Batching + Caché (prod)",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -784,
        1008
      ],
      "id": "a0aa2d69-8a3c-4670-bc5b-da4e41db030c",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1skkGrQMg-RfRLaU1hVVzHNMU3o-Srv0-wg01wJGrpoo",
          "mode": "list",
          "cachedResultName": "n8n",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1skkGrQMg-RfRLaU1hVVzHNMU3o-Srv0-wg01wJGrpoo/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 659682392,
          "mode": "list",
          "cachedResultName": "Leads",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1skkGrQMg-RfRLaU1hVVzHNMU3o-Srv0-wg01wJGrpoo/edit#gid=659682392"
        },
        "options": {}
      },
      "id": "e61fc85e-3911-42d8-ba5a-c5490f54e30c",
      "name": "Google Sheets - Obtener Leads1",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        -560,
        1008
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "cWLSasyDmdFoHq1F",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "eRXPxO4iWT66kbKf-9m3r",
          "mode": "list",
          "cachedResultUrl": "/workflow/eRXPxO4iWT66kbKf-9m3r",
          "cachedResultName": "AI Automation Soy Henry — L3 Chart Workflow with Sub Execution"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "execution_id": "={{ $execution.id }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "execution_id",
              "displayName": "execution_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "ia_output",
              "displayName": "ia_output",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "prompt",
              "displayName": "prompt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": false
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        496,
        800
      ],
      "id": "2147f3cc-77aa-4368-8989-1486a35e0ba8",
      "name": "Call 'results metrics'1"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        304,
        800
      ],
      "id": "5b33adeb-a71e-4f29-b7df-97d9c84d3ac1",
      "name": "Aggregate1"
    },
    {
      "parameters": {
        "jsonSchemaExample": "[\n{\n\"row_number\": 2, \"lead_id\": \"LEAD001\", \"clasificacion\": \"Alto\", \"razon\": \"Explicación concisa en 1 frase\", \"score\": 10\n}\n]\n",
        "autoFix": true
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        608,
        1248
      ],
      "id": "87c5cfd3-b68a-418d-b4ab-f6da87ac9ae3",
      "name": "Structured Output Parser1"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        480,
        1248
      ],
      "id": "9351839a-0ff9-4ff6-9da8-8b200dede60a",
      "name": "Google Gemini Chat Model2",
      "credentials": {
        "googlePalmApi": {
          "id": "j099853ldREEX9te",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        608,
        1424
      ],
      "id": "5e40efde-9867-4a1c-80b6-ec6c50d58e24",
      "name": "Google Gemini Chat Model3",
      "credentials": {
        "googlePalmApi": {
          "id": "j099853ldREEX9te",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "batchSize": 5,
        "options": {
          "reset": false
        }
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        80,
        992
      ],
      "id": "21a11071-ef8c-420f-8c8e-4d27965452fe",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You will classify each lead from the input ARRAY ({{ JSON.stringify($json) }}) into High / Medium / Low.\n\nCriteria:\nHIGH (8–10): budget ≥30000 (explicit or implied), mid/large company or funded startup, clear timeline/urgency, technical requirements, decision maker, possible references.\nMEDIUM (5–7): small/medium business or early startup with defined project, clear need without budget, agencies/consultancies, genuine interest without urgency.\nLOW (1–4): generic/low-context request, students/academic, spam/test, no identifiable company, very low budget, not a decision maker.\n\nOUTPUT (STRICT JSON):\nReturn an ARRAY with same length as input. Each item:\n{\n  \"row_number\": string,\n  \"lead_id\": string,\n  \"clasificacion\": \"Alto\" | \"Medio\" | \"Bajo\",\n  \"razon\": \"1 frase\",\n  \"score\": 1-10\n}\n\nRespond ONLY with the JSON array in Spanish. No extra text. No markdown.\n",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "You are an expert B2B lead scorer for sales prioritization."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        512,
        1008
      ],
      "id": "6571a484-2bd2-4e1e-82a0-91ee9148cb65",
      "name": "Split Agent",
      "retryOnFail": true
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "include": "specifiedFields",
        "fieldsToInclude": "lead_id, mensaje",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        304,
        1008
      ],
      "id": "03331614-4ced-432b-882a-5fca71ea2aa3",
      "name": "Agrupar"
    },
    {
      "parameters": {
        "mode": "combine",
        "fieldsToMatchString": "lead_id",
        "joinMode": "keepNonMatches",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -160,
        992
      ],
      "id": "8d6aeb7a-58a9-4e1a-88a5-e5776dac061f",
      "name": "Merge"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1skkGrQMg-RfRLaU1hVVzHNMU3o-Srv0-wg01wJGrpoo",
          "mode": "list",
          "cachedResultName": "n8n",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1skkGrQMg-RfRLaU1hVVzHNMU3o-Srv0-wg01wJGrpoo/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 2111508406,
          "mode": "list",
          "cachedResultName": "Cache",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1skkGrQMg-RfRLaU1hVVzHNMU3o-Srv0-wg01wJGrpoo/edit#gid=2111508406"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "lead_id",
              "lookupValue": "={{ $json.lead_id }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -352,
        848
      ],
      "id": "e338aad8-1bbc-45ef-9b30-0c2c93756d11",
      "name": "Simulate Caché",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "cWLSasyDmdFoHq1F",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        176,
        432
      ],
      "id": "f0940305-b006-4c25-af11-472d147f9157",
      "name": "Google Gemini Chat Model1",
      "credentials": {
        "googlePalmApi": {
          "id": "j099853ldREEX9te",
          "name": "Google Gemini(PaLM) Api account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        48,
        256
      ],
      "id": "344acc68-1102-4b0e-a6cf-079916fa29fa",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "j099853ldREEX9te",
          "name": "Google Gemini(PaLM) Api account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "jsonSchemaExample": " {\n\"lead_id\": \"LEADXXX\", \"clasificacion\": \"Alto\", \"razon\": \"Explicación concisa en 1 frase\", \"score\": 10, \"acciones_sugeridas\": \"Siguiente paso recomendado\"\n}\n",
        "autoFix": true
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        176,
        256
      ],
      "id": "9f443dc8-a70b-4723-aa99-f6ddb27748d6",
      "name": "Structured Output Parser",
      "disabled": true
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        480,
        16
      ],
      "id": "68bf271e-ee5f-4939-9b34-307bac4738d2",
      "name": "Aggregate",
      "disabled": true
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "aPVJV2uaA6RvEFq0",
          "mode": "list",
          "cachedResultUrl": "/workflow/aPVJV2uaA6RvEFq0",
          "cachedResultName": "results metrics"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "LLM Calls": 50,
            "Caché": false,
            "execution_id": "={{ $execution.id }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "LLM Calls",
              "displayName": "LLM Calls",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number",
              "removed": false
            },
            {
              "id": "Caché",
              "displayName": "Caché",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "boolean",
              "removed": false
            },
            {
              "id": "execution_id",
              "displayName": "execution_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": false
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        672,
        16
      ],
      "id": "2b870dd1-e423-401e-a27c-54126e0f3a34",
      "name": "Call 'results metrics'"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=CRITERIOS DE CLASIFICACIÓN:\n\n🟢 ALTO (8-10): \n- Presupuesto explícito o implícito +$30k\n- Empresa mediana/grande o startup con funding\n- Timeline definido o urgencia\n- Requerimientos técnicos específicos\n- Decision maker contactando directamente\n- Referencias o clientes en común\n\n🟡 MEDIO (5-7):\n- Empresa pequeña/mediana con proyecto definido\n- Necesidad clara sin presupuesto mencionado\n- Startups early-stage con potencial\n- Agencias/consultoras con múltiples clientes\n- Interés genuino sin urgencia inmediata\n\n🔴 BAJO (1-4):\n- Consultas genéricas sin contexto\n- Estudiantes o proyectos académicos\n- Mensajes spam o de prueba\n- Sin empresa identificable\n- Presupuesto extremadamente limitado\n- No decision maker\n\n---\n\nMensaje a Analizar: {{ $json.mensaje }}\nId de Lead: {{ $json.lead_id }}\n\n---\n\nFORMATO DE RESPUESTA (JSON estricto, sin markdown):\n\n  {\n    \"lead_id\": \"LEADXXX\",\n    \"clasificacion\": \"Alto|Medio|Bajo\",\n    \"razon\": \"Explicación concisa en 1 frase\",\n    \"score\": 1-10,\n    \"acciones_sugeridas\": \"Siguiente paso recomendado\"\n  }\n\n\nResponde ÚNICAMENTE con el array JSON, sin texto adicional.",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "Eres un analista experto en calificación de leads B2B. Tu función es evaluar prospectos y priorizarlos para el equipo de ventas."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        112,
        16
      ],
      "id": "c30c6a4d-fe46-4143-9ee8-863df2022bb9",
      "name": "AI Agent",
      "retryOnFail": true,
      "disabled": true
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "114Xz5D0Q4_Ql1Nvn0gJ_G9l8xs6M-9pxIhzjEOlWAyw",
          "mode": "list",
          "cachedResultName": "n8n",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/114Xz5D0Q4_Ql1Nvn0gJ_G9l8xs6M-9pxIhzjEOlWAyw/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Leads",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/114Xz5D0Q4_Ql1Nvn0gJ_G9l8xs6M-9pxIhzjEOlWAyw/edit#gid=0"
        },
        "options": {}
      },
      "id": "0c5e8d56-18b2-4bbb-8cd8-36a661b36a84",
      "name": "Google Sheets - Obtener Leads",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        -96,
        16
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "cWLSasyDmdFoHq1F",
          "name": "Google Sheets account"
        }
      },
      "disabled": true
    }
  ],
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Google Sheets - Obtener Leads1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets - Obtener Leads1": {
      "main": [
        [
          {
            "node": "Simulate Caché",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Aggregate1": {
      "main": [
        [
          {
            "node": "Call 'results metrics'1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser1": {
      "ai_outputParser": [
        [
          {
            "node": "Split Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "Split Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model3": {
      "ai_languageModel": [
        [
          {
            "node": "Structured Output Parser1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Aggregate1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Agrupar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Agent": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Agrupar": {
      "main": [
        [
          {
            "node": "Split Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simulate Caché": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Structured Output Parser",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Call 'results metrics'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets - Obtener Leads": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "staticData": null,
  "pinData": {},
  "triggerCount": 0,
  "meta": {
    "templateCredsSetupCompleted": true
  }
}