TUiCH77FRtUPJA0F-L3_Get_Execution_Workflow.json
{
  "name": "L3 Get Execution Workflow",
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "execution_id"
            },
            {
              "name": "ia_output"
            }
          ]
        }
      },
      "id": "c055762a-8fe7-4141-a639-df2372f30060",
      "typeVersion": 1.1,
      "name": "When Executed by Another Workflow",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "position": [
        272,
        352
      ]
    },
    {
      "parameters": {
        "resource": "execution",
        "operation": "get",
        "executionId": "={{ $json.execution_id }}",
        "options": {
          "activeWorkflows": true
        },
        "requestOptions": {}
      },
      "type": "n8n-nodes-base.n8n",
      "typeVersion": 1,
      "position": [
        480,
        352
      ],
      "id": "b0d975d1-9a43-4304-b16d-e64b58849f21",
      "name": "Get an execution",
      "credentials": {
        "n8nApi": {
          "id": "ApYUoMlu29ZMFZ5q",
          "name": "n8n account"
        }
      }
    },
    {
      "parameters": {
        "operation": "create",
        "base": {
          "__rl": true,
          "value": "apphPpzCbXqxQziE7",
          "mode": "list",
          "cachedResultName": "ai_costs_n8n",
          "cachedResultUrl": "https://airtable.com/apphPpzCbXqxQziE7"
        },
        "table": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        688,
        352
      ],
      "id": "1a231063-70e4-42c0-b6b5-7aab60345b64",
      "name": "Create a record",
      "credentials": {
        "airtableTokenApi": {
          "id": "hyLY8MB9pZHJeKmC",
          "name": "Airtable Personal Access Token account"
        }
      }
    }
  ],
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Get an execution",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get an execution": {
      "main": [
        [
          {
            "node": "Create a record",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "staticData": null,
  "pinData": {},
  "triggerCount": 0,
  "meta": {
    "templateCredsSetupCompleted": true
  }
}