HandsOn/HO_04/HO4_Smart_Delivery_Risk_Assessment.json
{
  "name": "Smart Delivery Risk Assessment and Route Optimization System",
  "nodes": [
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "id-1",
              "name": "supervisorEmail",
              "value": "rparisdv@gmail.com",
              "type": "string"
            },
            {
              "id": "id-2",
              "name": "operatorEmail",
              "value": "rparisdv@gmail.com",
              "type": "string"
            },
            {
              "id": "id-3",
              "name": "riskThreshold",
              "value": 50,
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "id": "2239a04d-af36-4607-8c5b-1cdfd2d812b5",
      "name": "Workflow Configuration",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1328,
        864
      ]
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1Q3KFPx4d4bYC-J5RYBDulDZof-O8GVdzho5ShBb3HyE",
          "mode": "list",
          "cachedResultName": "Daily Deliveries",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Q3KFPx4d4bYC-J5RYBDulDZof-O8GVdzho5ShBb3HyE/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Deliveries",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Q3KFPx4d4bYC-J5RYBDulDZof-O8GVdzho5ShBb3HyE/edit#gid=0"
        },
        "options": {}
      },
      "id": "a74ccac8-951d-4096-bbba-22a566eb6cd5",
      "name": "Read Daily Deliveries",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1552,
        864
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "cWLSasyDmdFoHq1F",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"title\": \"Delivery Risk Assessment\",\n  \"description\": \"Schema for analyzing delivery risks including weather and traffic conditions.\",\n  \"type\": \"object\",\n  \"properties\": {\n     \"id\": {\n      \"description\": \"Delivery id\",\n      \"type\": \"integer\"\n    },\n    \"riskLevel\": {\n      \"description\": \"Overall risk percentage (0-100). Set to -1 if an error occurs.\",\n      \"type\": \"integer\",\n      \"minimum\": -1,\n      \"maximum\": 100\n    },\n    \"weatherRisk\": {\n      \"description\": \"Risk percentage based on weather. Set to -1 if an error occurs.\",\n      \"type\": \"integer\",\n      \"minimum\": -1,\n      \"maximum\": 100\n    },\n    \"trafficRisk\": {\n      \"description\": \"Risk percentage based on traffic. Set to -1 if an error occurs.\",\n      \"type\": \"integer\",\n      \"minimum\": -1,\n      \"maximum\": 100\n    },\n    \"recommendation\": {\n      \"description\": \"Brief actionable advice for the operator.\",\n      \"type\": \"string\"\n    },\n    \"alternativeRoute\": {\n      \"description\": \"The specific alternative path suggested. Use 'None' if not applicable.\",\n      \"type\": \"string\"\n    },\n    \"reasoning\": {\n      \"description\": \"The logical breakdown of why the risk levels were assigned.\",\n      \"type\": \"string\"\n    },\n    \"error\": {\n      \"description\": \"Description of the error encountered. Must be 'N/A' if no error exists.\",\n      \"type\": \"string\",\n      \"default\": \"N/A\"\n    }\n  },\n  \"required\": [\n    \"riskLevel\",\n    \"weatherRisk\",\n    \"trafficRisk\",\n    \"recommendation\",\n    \"alternativeRoute\",\n    \"reasoning\",\n    \"error\"\n  ]\n}",
        "autoFix": true
      },
      "id": "164bdd9e-8f27-4a02-99d9-167ec0921f41",
      "name": "Structured Output Parser",
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        -656,
        1856
      ]
    },
    {
      "parameters": {
        "toolDescription": "Fetches weather forecast and rain probability for the delivery location. Returns precipitation probability and weather conditions. ",
        "url": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('URL', `https://clima-soyhenry.free.beeceptor.com/clima/:Ciudad`, 'string') }}",
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "responseFormat": "text"
            }
          },
          "timeout": 500
        }
      },
      "id": "1bb9207b-5735-439c-a2ea-183a422900cb",
      "name": "Weather API Tool",
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.3,
      "position": [
        -1040,
        1856
      ]
    },
    {
      "parameters": {
        "toolDescription": "Fetches current traffic conditions and delay information for the delivery route. Returns traffic congestion level and estimated delays.",
        "url": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('URL', `https://oas90c00425a5de.free.beeceptor.com/traffic-status/:Ciudad\nfor example:\nhttps://oas90c00425a5de.free.beeceptor.com/traffic-status/mendoza`, 'string') }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "text"
            }
          }
        }
      },
      "id": "361824a8-910c-4569-ae1c-2ed6c0f4e516",
      "name": "Traffic API Tool",
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.3,
      "position": [
        -912,
        1856
      ]
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Sends email notifications to operators or supervisors about delivery risks and issues. Use this when risk is high or when there are API errors.",
        "sendTo": "={{ $fromAI('recipient_email', 'Email address of the recipient (operator or supervisor)', 'string') }}",
        "subject": "={{ $fromAI('email_subject', 'Subject line for the email', 'string') }}",
        "message": "=<!DOCTYPE html>\n<html>\n<head>\n  <style>\n    body { font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; line-height: 1.6; color: #333; margin: 0; padding: 0; }\n    .container { max-width: 600px; margin: 20px auto; border: 1px solid #e0e0e0; border-radius: 8px; overflow: hidden; }\n    .header { background-color: #2c3e50; color: #ffffff; padding: 20px; text-align: center; }\n    .priority-tag { display: inline-block; padding: 4px 12px; border-radius: 20px; font-size: 12px; font-weight: bold; text-transform: uppercase; margin-top: 10px; background-color: #34495e; }\n    .content { padding: 30px; background-color: #ffffff; }\n    .message-box { background-color: #f8f9fa; border-left: 4px solid #2c3e50; padding: 20px; margin: 20px 0; font-style: italic; }\n    .footer { background-color: #f1f1f1; padding: 15px; font-size: 12px; text-align: center; color: #7f8c8d; }\n    .button { display: inline-block; padding: 12px 24px; background-color: #3498db; color: #ffffff; text-decoration: none; border-radius: 4px; margin-top: 20px; }\n  </style>\n</head>\n<body>\n  <div class=\"container\">\n    <div class=\"header\">\n      <h2 style=\"margin:0;\">System Notification</h2>\n      <div class=\"priority-tag\">\n        Priority: {{ $fromAI('priority_level', 'Determine urgency: Low, Medium, High, or Critical', 'string') }}\n      </div>\n    </div>\n    \n    <div class=\"content\">\n      <p>Estimado {{ $fromAI('destinatary', 'Supervisor or Operador', 'string') }},</p>\n      <p>Se ha generado una nueva actualización automatizada para su revisión:</p>\n      \n      <div class=\"message-box\">\n        <strong>Detalles:</strong><br>\n        {{ $fromAI('main_content', 'The detailed message or report for the supervisor', 'string') }}\n      </div>\n\n      <p><strong>Acción sugerida:</strong><br>\n      {{ $fromAI('action_required', 'Specific next step for the supervisor to take', 'string') }}</p>\n\n      <center>\n        <a href=\"https://rodrigohparis.app.n8n.cloud/\" class=\"button\">Ver en el Dashboard</a>\n      </center>\n    </div>\n\n    <div class=\"footer\">\n      Generated by n8n AI Agent | Execution ID: {{ $executionId }}<br>\n      Date: {{ $now.setZone('America/Buenos_Aires').format('yyyy-MM-dd') }}\n      Time: {{ $now.setZone('America/Buenos_Aires').format('HH:mm') }}\n    </div>\n  </div>\n</body>\n</html>",
        "options": {}
      },
      "id": "ab4362b1-9215-4590-bae8-305ed557bd77",
      "name": "Gmail Notification Tool",
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.2,
      "position": [
        -784,
        1856
      ],
      "webhookId": "f7ae853c-2c04-4693-bee5-3523b7d8c01f",
      "credentials": {
        "gmailOAuth2": {
          "id": "UCqbBJa2PzuV0zyG",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Delivery Analysis:\nID: ' {{ $json.ID }} | City: ' {{ $json.Ciudad  || 'N/A'}} | Addr: ' {{ $json[\"Dirección\"]  || 'N/A' }} | Time: ' {{ $json[\"Hora programada\"]|| 'N/A' }} | Op: '{{ $('Workflow Configuration').item.json.operatorEmail }} | Sup: '{{ $('Workflow Configuration').item.json.supervisorEmail }}'\n\nTasks:\n1. Calc total Risk % (0-100).\n2. If Risk > 50%: Notify Op via `` + suggest route.\n3. On API error: Notify Sup via `Send Email Notification`.\n4. Finally return a JSON response according to provided structure.\n\n",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "You are a logistics risk assessment AI agent. Your job is to analyze delivery conditions and make decisions to ensure safe and timely deliveries.\n\nRisk Assessment Rules:\n- Weather risk: Rain probability > 70% = high risk (50+ points), 40-70% = medium (30 points), < 40% = low (10 points)\n- Traffic risk: Heavy delays > 30min = high risk (50+ points), 15-30min = medium (30 points), < 15min = low (10 points)\n- Overall risk = (weatherRisk + trafficRisk) / 2\n- Do not assume risk levels.\n\nActions:\n- If overall risk > 50%: Send email to operator with alternative route suggestion\n- If API error occurs: Send email to supervisor immediately\n- Always provide clear reasoning for your assessment\n\nBe proactive and prioritize delivery safety and customer satisfaction."
        }
      },
      "id": "56931378-a9ec-4af0-8ac2-590779afc1f7",
      "name": "Risk Analysis Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -984,
        1632
      ],
      "alwaysOutputData": false,
      "executeOnce": true,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1Q3KFPx4d4bYC-J5RYBDulDZof-O8GVdzho5ShBb3HyE",
          "mode": "list",
          "cachedResultName": "Daily Deliveries",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Q3KFPx4d4bYC-J5RYBDulDZof-O8GVdzho5ShBb3HyE/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Deliveries",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Q3KFPx4d4bYC-J5RYBDulDZof-O8GVdzho5ShBb3HyE/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "ID": "={{ $json.output.id }}",
            "Decision": "={{ $json.output.recommendation }}",
            "Total Risk": "={{ $json.output.riskLevel }}",
            "Traffic Risk": "={{ $json.output.trafficRisk }}",
            "Weather Risk": "={{ $json.output.weatherRisk }}",
            "Ciudad": "={{ $('Read Daily Deliveries').item.json.Ciudad }}"
          },
          "matchingColumns": [
            "ID"
          ],
          "schema": [
            {
              "id": "ID",
              "displayName": "ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Ciudad",
              "displayName": "Ciudad",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Dirección",
              "displayName": "Dirección",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Hora programada",
              "displayName": "Hora programada",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Operador",
              "displayName": "Operador",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Decision",
              "displayName": "Decision",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Total Risk",
              "displayName": "Total Risk",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Traffic Risk",
              "displayName": "Traffic Risk",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Weather Risk",
              "displayName": "Weather Risk",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "58543c15-f2e1-4f7b-b2e3-a97a528c940c",
      "name": "Log Decision to Sheet",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        3056,
        912
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "cWLSasyDmdFoHq1F",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {},
      "id": "819a2e3e-19da-4502-8970-65957ff60c11",
      "name": "Error Trigger",
      "type": "n8n-nodes-base.errorTrigger",
      "typeVersion": 1,
      "position": [
        -1168,
        2496
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "id-1",
              "name": "deliveryId",
              "value": "={{ $json.deliveryId || 'Unknown' }}",
              "type": "string"
            },
            {
              "id": "id-2",
              "name": "cityOrZone",
              "value": "={{ $json.city || $json.zone || $json.location || 'Unknown' }}",
              "type": "string"
            },
            {
              "id": "id-3",
              "name": "riskDetected",
              "value": "API Error / Data Incomplete",
              "type": "string"
            },
            {
              "id": "id-4",
              "name": "actionTaken",
              "value": "Notified supervisor - API failure",
              "type": "string"
            },
            {
              "id": "id-5",
              "name": "alternativeRoute",
              "value": "N/A",
              "type": "string"
            },
            {
              "id": "id-6",
              "name": "status",
              "value": "REVISION_PRIORITARIA",
              "type": "string"
            },
            {
              "id": "id-7",
              "name": "timestamp",
              "value": "={{ $now.setZone('America/Buenos_Aires') }}",
              "type": "string"
            },
            {
              "id": "id-8",
              "name": "errorDetails",
              "value": "={{ $json.error?.message || 'Workflow error occurred' }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "b25674cd-f5b7-43d8-b24c-eb7e9ea70ccc",
      "name": "Format Error Notification",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -944,
        2496
      ]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1Q3KFPx4d4bYC-J5RYBDulDZof-O8GVdzho5ShBb3HyE",
          "mode": "list",
          "cachedResultName": "Daily Deliveries",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Q3KFPx4d4bYC-J5RYBDulDZof-O8GVdzho5ShBb3HyE/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 50538550,
          "mode": "list",
          "cachedResultName": "LOG_ERRORS",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Q3KFPx4d4bYC-J5RYBDulDZof-O8GVdzho5ShBb3HyE/edit#gid=50538550"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [
            {
              "id": "Execution ID",
              "displayName": "Execution ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Error",
              "displayName": "Error",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Supervisor Notificado",
              "displayName": "Supervisor Notificado",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Timestamp",
              "displayName": "Timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "4ea1dba1-91da-47aa-b2c3-435ed0d8b6a6",
      "name": "Log Error to Sheet",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -720,
        2496
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "cWLSasyDmdFoHq1F",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -1168,
        1856
      ],
      "id": "13645386-8e77-457b-97b2-2930df08c682",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "j099853ldREEX9te",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        1104,
        864
      ],
      "id": "f2a33ea6-eed4-408a-ad15-7bae46f11dc9",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1Q3KFPx4d4bYC-J5RYBDulDZof-O8GVdzho5ShBb3HyE",
          "mode": "list",
          "cachedResultName": "Daily Deliveries",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Q3KFPx4d4bYC-J5RYBDulDZof-O8GVdzho5ShBb3HyE/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 50538550,
          "mode": "list",
          "cachedResultName": "LOG_ERRORS",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Q3KFPx4d4bYC-J5RYBDulDZof-O8GVdzho5ShBb3HyE/edit#gid=50538550"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Execution ID": "={{ $execution.id }}",
            "Timestamp": "={{ $now.setZone('America/Buenos_Aires') }}",
            "Error": "={{ $json.output.error }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Execution ID",
              "displayName": "Execution ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Error",
              "displayName": "Error",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Timestamp",
              "displayName": "Timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "8125581e-9796-4e3e-b5d8-9040282b8ed4",
      "name": "Log Error to Sheet1",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -944,
        960
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "cWLSasyDmdFoHq1F",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.Ciudad }}",
        "sessionTTL": 20
      },
      "type": "@n8n/n8n-nodes-langchain.memoryRedisChat",
      "typeVersion": 1.5,
      "position": [
        -1168,
        2720
      ],
      "id": "50a5349a-8b7e-4a54-8dc8-bb7e3f375859",
      "name": "Redis Chat Memory",
      "credentials": {
        "redis": {
          "id": "dvy1eUcK3oHohRmX",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -576,
        2064
      ],
      "id": "372be863-d80c-4cdf-bc59-2151fa40efac",
      "name": "Google Gemini Chat Model1",
      "credentials": {
        "googlePalmApi": {
          "id": "j099853ldREEX9te",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1Q3KFPx4d4bYC-J5RYBDulDZof-O8GVdzho5ShBb3HyE",
          "mode": "list",
          "cachedResultName": "Daily Deliveries",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Q3KFPx4d4bYC-J5RYBDulDZof-O8GVdzho5ShBb3HyE/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Deliveries",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Q3KFPx4d4bYC-J5RYBDulDZof-O8GVdzho5ShBb3HyE/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Decision": "=ERROR:  {{ $json.Error }}",
            "ID": "={{ $('Read Daily Deliveries').item.json.row_number }}"
          },
          "matchingColumns": [
            "ID"
          ],
          "schema": [
            {
              "id": "ID",
              "displayName": "ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Ciudad",
              "displayName": "Ciudad",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Dirección",
              "displayName": "Dirección",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Hora programada",
              "displayName": "Hora programada",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Operador",
              "displayName": "Operador",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Decision",
              "displayName": "Decision",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "5250cde0-6362-4576-bd59-8e6ba3887e53",
      "name": "Log Error to Sheet2",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -720,
        960
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "cWLSasyDmdFoHq1F",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "1b1bd70b-ddac-4ce6-bdd7-ed2f0fb837c9",
              "leftValue": "={{ $json.output.trafficRisk }}",
              "rightValue": -1,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            },
            {
              "id": "b0cda3ff-5ece-4b9c-aac4-c8ba01a3c641",
              "leftValue": "={{ $json.output.riskLevel }}",
              "rightValue": "-1",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "521ed1b8-f2a4-433c-9448-89020485652e",
              "leftValue": "={{ $json.output.weatherRisk }}",
              "rightValue": -1,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "or"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -1168,
        960
      ],
      "id": "66e1923a-b8ed-46d5-89c6-65ba625197fa",
      "name": "Error or Decision"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "id-1",
              "name": "supervisorEmail",
              "value": "rparisdv@gmail.com",
              "type": "string"
            },
            {
              "id": "id-2",
              "name": "operatorEmail",
              "value": "rparisdv@gmail.com",
              "type": "string"
            },
            {
              "id": "id-3",
              "name": "riskThreshold",
              "value": 50,
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "id": "2239a04d-af36-4607-8c5b-1cdfd2d812b5",
      "name": "Workflow Configuration",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -944,
        736
      ]
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1Q3KFPx4d4bYC-J5RYBDulDZof-O8GVdzho5ShBb3HyE",
          "mode": "list",
          "cachedResultName": "Daily Deliveries",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Q3KFPx4d4bYC-J5RYBDulDZof-O8GVdzho5ShBb3HyE/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Deliveries",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Q3KFPx4d4bYC-J5RYBDulDZof-O8GVdzho5ShBb3HyE/edit#gid=0"
        },
        "options": {}
      },
      "id": "a74ccac8-951d-4096-bbba-22a566eb6cd5",
      "name": "Read Daily Deliveries",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -720,
        736
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "cWLSasyDmdFoHq1F",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"title\": \"Delivery Risk Assessment\",\n  \"description\": \"Schema for analyzing delivery risks including weather and traffic conditions.\",\n  \"type\": \"object\",\n  \"properties\": {\n     \"id\": {\n      \"description\": \"Delivery id\",\n      \"type\": \"integer\"\n    },\n    \"riskLevel\": {\n      \"description\": \"Overall risk percentage (0-100). Set to -1 if an error occurs.\",\n      \"type\": \"integer\",\n      \"minimum\": -1,\n      \"maximum\": 100\n    },\n    \"weatherRisk\": {\n      \"description\": \"Risk percentage based on weather. Set to -1 if an error occurs.\",\n      \"type\": \"integer\",\n      \"minimum\": -1,\n      \"maximum\": 100\n    },\n    \"trafficRisk\": {\n      \"description\": \"Risk percentage based on traffic. Set to -1 if an error occurs.\",\n      \"type\": \"integer\",\n      \"minimum\": -1,\n      \"maximum\": 100\n    },\n    \"recommendation\": {\n      \"description\": \"Brief actionable advice for the operator.\",\n      \"type\": \"string\"\n    },\n    \"alternativeRoute\": {\n      \"description\": \"The specific alternative path suggested. Use 'None' if not applicable.\",\n      \"type\": \"string\"\n    },\n    \"reasoning\": {\n      \"description\": \"The logical breakdown of why the risk levels were assigned.\",\n      \"type\": \"string\"\n    },\n    \"error\": {\n      \"description\": \"Description of the error encountered. Must be 'N/A' if no error exists.\",\n      \"type\": \"string\",\n      \"default\": \"N/A\"\n    }\n  },\n  \"required\": [\n    \"riskLevel\",\n    \"weatherRisk\",\n    \"trafficRisk\",\n    \"recommendation\",\n    \"alternativeRoute\",\n    \"reasoning\",\n    \"error\"\n  ]\n}",
        "autoFix": true
      },
      "id": "164bdd9e-8f27-4a02-99d9-167ec0921f41",
      "name": "Structured Output Parser",
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        -656,
        1856
      ]
    },
    {
      "parameters": {
        "toolDescription": "Fetches weather forecast and rain probability for the delivery location. Returns precipitation probability and weather conditions. ",
        "url": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('URL', `https://clima-soyhenry.free.beeceptor.com/clima/:Ciudad`, 'string') }}",
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "responseFormat": "text"
            }
          },
          "timeout": 500
        }
      },
      "id": "1bb9207b-5735-439c-a2ea-183a422900cb",
      "name": "Weather API Tool",
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.3,
      "position": [
        -1040,
        1856
      ]
    },
    {
      "parameters": {
        "toolDescription": "Fetches current traffic conditions and delay information for the delivery route. Returns traffic congestion level and estimated delays.",
        "url": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('URL', `https://oas90c00425a5de.free.beeceptor.com/traffic-status/:Ciudad\nfor example:\nhttps://oas90c00425a5de.free.beeceptor.com/traffic-status/mendoza`, 'string') }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "text"
            }
          }
        }
      },
      "id": "361824a8-910c-4569-ae1c-2ed6c0f4e516",
      "name": "Traffic API Tool",
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.3,
      "position": [
        -912,
        1856
      ]
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Sends email notifications to operators or supervisors about delivery risks and issues. Use this when risk is high or when there are API errors.",
        "sendTo": "={{ $fromAI('recipient_email', 'Email address of the recipient (operator or supervisor)', 'string') }}",
        "subject": "={{ $fromAI('email_subject', 'Subject line for the email', 'string') }}",
        "message": "=<!DOCTYPE html>\n<html>\n<head>\n  <style>\n    body { font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; line-height: 1.6; color: #333; margin: 0; padding: 0; }\n    .container { max-width: 600px; margin: 20px auto; border: 1px solid #e0e0e0; border-radius: 8px; overflow: hidden; }\n    .header { background-color: #2c3e50; color: #ffffff; padding: 20px; text-align: center; }\n    .priority-tag { display: inline-block; padding: 4px 12px; border-radius: 20px; font-size: 12px; font-weight: bold; text-transform: uppercase; margin-top: 10px; background-color: #34495e; }\n    .content { padding: 30px; background-color: #ffffff; }\n    .message-box { background-color: #f8f9fa; border-left: 4px solid #2c3e50; padding: 20px; margin: 20px 0; font-style: italic; }\n    .footer { background-color: #f1f1f1; padding: 15px; font-size: 12px; text-align: center; color: #7f8c8d; }\n    .button { display: inline-block; padding: 12px 24px; background-color: #3498db; color: #ffffff; text-decoration: none; border-radius: 4px; margin-top: 20px; }\n  </style>\n</head>\n<body>\n  <div class=\"container\">\n    <div class=\"header\">\n      <h2 style=\"margin:0;\">System Notification</h2>\n      <div class=\"priority-tag\">\n        Priority: {{ $fromAI('priority_level', 'Determine urgency: Low, Medium, High, or Critical', 'string') }}\n      </div>\n    </div>\n    \n    <div class=\"content\">\n      <p>Estimado {{ $fromAI('destinatary', 'Supervisor or Operador', 'string') }},</p>\n      <p>Se ha generado una nueva actualización automatizada para su revisión:</p>\n      \n      <div class=\"message-box\">\n        <strong>Detalles:</strong><br>\n        {{ $fromAI('main_content', 'The detailed message or report for the supervisor', 'string') }}\n      </div>\n\n      <p><strong>Acción sugerida:</strong><br>\n      {{ $fromAI('action_required', 'Specific next step for the supervisor to take', 'string') }}</p>\n\n      <center>\n        <a href=\"https://rodrigohparis.app.n8n.cloud/\" class=\"button\">Ver en el Dashboard</a>\n      </center>\n    </div>\n\n    <div class=\"footer\">\n      Generated by n8n AI Agent | Execution ID: {{ $executionId }}<br>\n      Date: {{ $now.setZone('America/Buenos_Aires').format('yyyy-MM-dd') }}\n      Time: {{ $now.setZone('America/Buenos_Aires').format('HH:mm') }}\n    </div>\n  </div>\n</body>\n</html>",
        "options": {}
      },
      "id": "ab4362b1-9215-4590-bae8-305ed557bd77",
      "name": "Gmail Notification Tool",
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.2,
      "position": [
        -784,
        1856
      ],
      "webhookId": "f7ae853c-2c04-4693-bee5-3523b7d8c01f",
      "credentials": {
        "gmailOAuth2": {
          "id": "UCqbBJa2PzuV0zyG",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Delivery Analysis:\nID: ' {{ $json.ID }} | City: ' {{ $json.Ciudad  || 'N/A'}} | Addr: ' {{ $json[\"Dirección\"]  || 'N/A' }} | Time: ' {{ $json[\"Hora programada\"]|| 'N/A' }} | Op: '{{ $('Workflow Configuration').item.json.operatorEmail }} | Sup: '{{ $('Workflow Configuration').item.json.supervisorEmail }}'\n\nTasks:\n1. Calc total Risk % (0-100).\n2. If Risk > 50%: Notify Op via `` + suggest route.\n3. On API error: Notify Sup via `Send Email Notification`.\n4. Finally return a JSON response according to provided structure.\n\n",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "You are a logistics risk assessment AI agent. Your job is to analyze delivery conditions and make decisions to ensure safe and timely deliveries.\n\nRisk Assessment Rules:\n- Weather risk: Rain probability > 70% = high risk (50+ points), 40-70% = medium (30 points), < 40% = low (10 points)\n- Traffic risk: Heavy delays > 30min = high risk (50+ points), 15-30min = medium (30 points), < 15min = low (10 points)\n- Overall risk = (weatherRisk + trafficRisk) / 2\n- Do not assume risk levels.\n\nActions:\n- If overall risk > 50%: Send email to operator with alternative route suggestion\n- If API error occurs: Send email to supervisor immediately\n- Always provide clear reasoning for your assessment\n\nBe proactive and prioritize delivery safety and customer satisfaction."
        }
      },
      "id": "56931378-a9ec-4af0-8ac2-590779afc1f7",
      "name": "Risk Analysis Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -984,
        1632
      ],
      "alwaysOutputData": true,
      "executeOnce": true,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1Q3KFPx4d4bYC-J5RYBDulDZof-O8GVdzho5ShBb3HyE",
          "mode": "list",
          "cachedResultName": "Daily Deliveries",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Q3KFPx4d4bYC-J5RYBDulDZof-O8GVdzho5ShBb3HyE/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Deliveries",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Q3KFPx4d4bYC-J5RYBDulDZof-O8GVdzho5ShBb3HyE/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "ID": "={{ $json.output.id }}",
            "Decision": "={{ $json.output.recommendation }}",
            "Total Risk": "={{ $json.output.riskLevel }}",
            "Traffic Risk": "={{ $json.output.trafficRisk }}",
            "Weather Risk": "={{ $json.output.weatherRisk }}",
            "Ciudad": "={{ $('Read Daily Deliveries').item.json.Ciudad }}"
          },
          "matchingColumns": [
            "ID"
          ],
          "schema": [
            {
              "id": "ID",
              "displayName": "ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Ciudad",
              "displayName": "Ciudad",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Dirección",
              "displayName": "Dirección",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Hora programada",
              "displayName": "Hora programada",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Operador",
              "displayName": "Operador",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Decision",
              "displayName": "Decision",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Total Risk",
              "displayName": "Total Risk",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Traffic Risk",
              "displayName": "Traffic Risk",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Weather Risk",
              "displayName": "Weather Risk",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "58543c15-f2e1-4f7b-b2e3-a97a528c940c",
      "name": "Log Decision to Sheet",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -1168,
        1408
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "cWLSasyDmdFoHq1F",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {},
      "id": "819a2e3e-19da-4502-8970-65957ff60c11",
      "name": "Error Trigger",
      "type": "n8n-nodes-base.errorTrigger",
      "typeVersion": 1,
      "position": [
        -1168,
        2496
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "id-1",
              "name": "deliveryId",
              "value": "={{ $json.deliveryId || 'Unknown' }}",
              "type": "string"
            },
            {
              "id": "id-2",
              "name": "cityOrZone",
              "value": "={{ $json.city || $json.zone || $json.location || 'Unknown' }}",
              "type": "string"
            },
            {
              "id": "id-3",
              "name": "riskDetected",
              "value": "API Error / Data Incomplete",
              "type": "string"
            },
            {
              "id": "id-4",
              "name": "actionTaken",
              "value": "Notified supervisor - API failure",
              "type": "string"
            },
            {
              "id": "id-5",
              "name": "alternativeRoute",
              "value": "N/A",
              "type": "string"
            },
            {
              "id": "id-6",
              "name": "status",
              "value": "REVISION_PRIORITARIA",
              "type": "string"
            },
            {
              "id": "id-7",
              "name": "timestamp",
              "value": "={{ $now.setZone('America/Buenos_Aires') }}",
              "type": "string"
            },
            {
              "id": "id-8",
              "name": "errorDetails",
              "value": "={{ $json.error?.message || 'Workflow error occurred' }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "b25674cd-f5b7-43d8-b24c-eb7e9ea70ccc",
      "name": "Format Error Notification",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -944,
        2496
      ]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1Q3KFPx4d4bYC-J5RYBDulDZof-O8GVdzho5ShBb3HyE",
          "mode": "list",
          "cachedResultName": "Daily Deliveries",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Q3KFPx4d4bYC-J5RYBDulDZof-O8GVdzho5ShBb3HyE/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 50538550,
          "mode": "list",
          "cachedResultName": "LOG_ERRORS",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Q3KFPx4d4bYC-J5RYBDulDZof-O8GVdzho5ShBb3HyE/edit#gid=50538550"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [
            {
              "id": "Execution ID",
              "displayName": "Execution ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Error",
              "displayName": "Error",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Supervisor Notificado",
              "displayName": "Supervisor Notificado",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Timestamp",
              "displayName": "Timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "4ea1dba1-91da-47aa-b2c3-435ed0d8b6a6",
      "name": "Log Error to Sheet",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -720,
        2496
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "cWLSasyDmdFoHq1F",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -1168,
        1856
      ],
      "id": "13645386-8e77-457b-97b2-2930df08c682",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "j099853ldREEX9te",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -1168,
        736
      ],
      "id": "f2a33ea6-eed4-408a-ad15-7bae46f11dc9",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1Q3KFPx4d4bYC-J5RYBDulDZof-O8GVdzho5ShBb3HyE",
          "mode": "list",
          "cachedResultName": "Daily Deliveries",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Q3KFPx4d4bYC-J5RYBDulDZof-O8GVdzho5ShBb3HyE/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 50538550,
          "mode": "list",
          "cachedResultName": "LOG_ERRORS",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Q3KFPx4d4bYC-J5RYBDulDZof-O8GVdzho5ShBb3HyE/edit#gid=50538550"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Execution ID": "={{ $execution.id }}",
            "Timestamp": "={{ $now.setZone('America/Buenos_Aires') }}",
            "Error": "={{ $json.output.error }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Execution ID",
              "displayName": "Execution ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Error",
              "displayName": "Error",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Timestamp",
              "displayName": "Timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "8125581e-9796-4e3e-b5d8-9040282b8ed4",
      "name": "Log Error to Sheet1",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -944,
        960
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "cWLSasyDmdFoHq1F",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.Ciudad }}",
        "sessionTTL": 20
      },
      "type": "@n8n/n8n-nodes-langchain.memoryRedisChat",
      "typeVersion": 1.5,
      "position": [
        -1168,
        2720
      ],
      "id": "50a5349a-8b7e-4a54-8dc8-bb7e3f375859",
      "name": "Redis Chat Memory",
      "credentials": {
        "redis": {
          "id": "dvy1eUcK3oHohRmX",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -576,
        2064
      ],
      "id": "372be863-d80c-4cdf-bc59-2151fa40efac",
      "name": "Google Gemini Chat Model1",
      "credentials": {
        "googlePalmApi": {
          "id": "j099853ldREEX9te",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1Q3KFPx4d4bYC-J5RYBDulDZof-O8GVdzho5ShBb3HyE",
          "mode": "list",
          "cachedResultName": "Daily Deliveries",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Q3KFPx4d4bYC-J5RYBDulDZof-O8GVdzho5ShBb3HyE/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Deliveries",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Q3KFPx4d4bYC-J5RYBDulDZof-O8GVdzho5ShBb3HyE/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Decision": "=ERROR:  {{ $json.Error }}",
            "ID": "={{ $('Read Daily Deliveries').item.json.row_number }}"
          },
          "matchingColumns": [
            "ID"
          ],
          "schema": [
            {
              "id": "ID",
              "displayName": "ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Ciudad",
              "displayName": "Ciudad",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Dirección",
              "displayName": "Dirección",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Hora programada",
              "displayName": "Hora programada",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Operador",
              "displayName": "Operador",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Decision",
              "displayName": "Decision",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "5250cde0-6362-4576-bd59-8e6ba3887e53",
      "name": "Log Error to Sheet2",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -720,
        960
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "cWLSasyDmdFoHq1F",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "1b1bd70b-ddac-4ce6-bdd7-ed2f0fb837c9",
              "leftValue": "={{ $json.output.trafficRisk }}",
              "rightValue": -1,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            },
            {
              "id": "b0cda3ff-5ece-4b9c-aac4-c8ba01a3c641",
              "leftValue": "={{ $json.output.riskLevel }}",
              "rightValue": "-1",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "521ed1b8-f2a4-433c-9448-89020485652e",
              "leftValue": "={{ $json.output.weatherRisk }}",
              "rightValue": -1,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "or"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -1168,
        960
      ],
      "id": "66e1923a-b8ed-46d5-89c6-65ba625197fa",
      "name": "Error or Decision"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "id-1",
              "name": "supervisorEmail",
              "value": "rparisdv@gmail.com",
              "type": "string"
            },
            {
              "id": "id-2",
              "name": "operatorEmail",
              "value": "rparisdv@gmail.com",
              "type": "string"
            },
            {
              "id": "id-3",
              "name": "riskThreshold",
              "value": 50,
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "id": "2239a04d-af36-4607-8c5b-1cdfd2d812b5",
      "name": "Workflow Configuration",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        960,
        896
      ]
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1Q3KFPx4d4bYC-J5RYBDulDZof-O8GVdzho5ShBb3HyE",
          "mode": "list",
          "cachedResultName": "Daily Deliveries",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Q3KFPx4d4bYC-J5RYBDulDZof-O8GVdzho5ShBb3HyE/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Deliveries",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Q3KFPx4d4bYC-J5RYBDulDZof-O8GVdzho5ShBb3HyE/edit#gid=0"
        },
        "options": {}
      },
      "id": "a74ccac8-951d-4096-bbba-22a566eb6cd5",
      "name": "Read Daily Deliveries",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1184,
        896
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "cWLSasyDmdFoHq1F",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"title\": \"Delivery Risk Assessment\",\n  \"description\": \"Schema for analyzing delivery risks including weather and traffic conditions.\",\n  \"type\": \"object\",\n  \"properties\": {\n     \"id\": {\n      \"description\": \"Delivery id\",\n      \"type\": \"integer\"\n    },\n    \"riskLevel\": {\n      \"description\": \"Overall risk percentage (0-100). Set to -1 if an error occurs.\",\n      \"type\": \"integer\",\n      \"minimum\": -1,\n      \"maximum\": 100\n    },\n    \"weatherRisk\": {\n      \"description\": \"Risk percentage based on weather. Set to -1 if an error occurs.\",\n      \"type\": \"integer\",\n      \"minimum\": -1,\n      \"maximum\": 100\n    },\n    \"trafficRisk\": {\n      \"description\": \"Risk percentage based on traffic. Set to -1 if an error occurs.\",\n      \"type\": \"integer\",\n      \"minimum\": -1,\n      \"maximum\": 100\n    },\n    \"recommendation\": {\n      \"description\": \"Brief actionable advice for the operator.\",\n      \"type\": \"string\"\n    },\n    \"alternativeRoute\": {\n      \"description\": \"The specific alternative path suggested. Use 'None' if not applicable.\",\n      \"type\": \"string\"\n    },\n    \"reasoning\": {\n      \"description\": \"The logical breakdown of why the risk levels were assigned.\",\n      \"type\": \"string\"\n    },\n    \"error\": {\n      \"description\": \"Description of the error encountered. Must be 'N/A' if no error exists.\",\n      \"type\": \"string\",\n      \"default\": \"N/A\"\n    }\n  },\n  \"required\": [\n    \"riskLevel\",\n    \"weatherRisk\",\n    \"trafficRisk\",\n    \"recommendation\",\n    \"alternativeRoute\",\n    \"reasoning\",\n    \"error\"\n  ]\n}",
        "autoFix": true
      },
      "id": "164bdd9e-8f27-4a02-99d9-167ec0921f41",
      "name": "Structured Output Parser",
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        2368,
        944
      ]
    },
    {
      "parameters": {
        "toolDescription": "Fetches weather forecast and rain probability for the delivery location. Returns precipitation probability and weather conditions. ",
        "url": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('URL', `https://clima-soyhenry.free.beeceptor.com/clima/:Ciudad`, 'string') }}",
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "responseFormat": "text"
            }
          },
          "timeout": 500
        }
      },
      "id": "1bb9207b-5735-439c-a2ea-183a422900cb",
      "name": "Weather API Tool",
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.3,
      "position": [
        1984,
        944
      ]
    },
    {
      "parameters": {
        "toolDescription": "Fetches current traffic conditions and delay information for the delivery route. Returns traffic congestion level and estimated delays.",
        "url": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('URL', `https://oas90c00425a5de.free.beeceptor.com/traffic-status/:Ciudad\nfor example:\nhttps://oas90c00425a5de.free.beeceptor.com/traffic-status/mendoza`, 'string') }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "text"
            }
          }
        }
      },
      "id": "361824a8-910c-4569-ae1c-2ed6c0f4e516",
      "name": "Traffic API Tool",
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.3,
      "position": [
        2112,
        944
      ]
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Sends email notifications to operators or supervisors about delivery risks and issues. Use this when risk is high or when there are API errors.",
        "sendTo": "={{ $fromAI('recipient_email', 'Email address of the recipient (operator or supervisor)', 'string') }}",
        "subject": "={{ $fromAI('email_subject', 'Subject line for the email', 'string') }}",
        "message": "=<!DOCTYPE html>\n<html>\n<head>\n  <style>\n    body { font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; line-height: 1.6; color: #333; margin: 0; padding: 0; }\n    .container { max-width: 600px; margin: 20px auto; border: 1px solid #e0e0e0; border-radius: 8px; overflow: hidden; }\n    .header { background-color: #2c3e50; color: #ffffff; padding: 20px; text-align: center; }\n    .priority-tag { display: inline-block; padding: 4px 12px; border-radius: 20px; font-size: 12px; font-weight: bold; text-transform: uppercase; margin-top: 10px; background-color: #34495e; }\n    .content { padding: 30px; background-color: #ffffff; }\n    .message-box { background-color: #f8f9fa; border-left: 4px solid #2c3e50; padding: 20px; margin: 20px 0; font-style: italic; }\n    .footer { background-color: #f1f1f1; padding: 15px; font-size: 12px; text-align: center; color: #7f8c8d; }\n    .button { display: inline-block; padding: 12px 24px; background-color: #3498db; color: #ffffff; text-decoration: none; border-radius: 4px; margin-top: 20px; }\n  </style>\n</head>\n<body>\n  <div class=\"container\">\n    <div class=\"header\">\n      <h2 style=\"margin:0;\">System Notification</h2>\n      <div class=\"priority-tag\">\n        Priority: {{ $fromAI('priority_level', 'Determine urgency: Low, Medium, High, or Critical', 'string') }}\n      </div>\n    </div>\n    \n    <div class=\"content\">\n      <p>Estimado {{ $fromAI('destinatary', 'Supervisor or Operador', 'string') }},</p>\n      <p>Se ha generado una nueva actualización automatizada para su revisión:</p>\n      \n      <div class=\"message-box\">\n        <strong>Detalles:</strong><br>\n        {{ $fromAI('main_content', 'The detailed message or report for the supervisor', 'string') }}\n      </div>\n\n      <p><strong>Acción sugerida:</strong><br>\n      {{ $fromAI('action_required', 'Specific next step for the supervisor to take', 'string') }}</p>\n\n      <center>\n        <a href=\"https://rodrigohparis.app.n8n.cloud/\" class=\"button\">Ver en el Dashboard</a>\n      </center>\n    </div>\n\n    <div class=\"footer\">\n      Generated by n8n AI Agent | Execution ID: {{ $executionId }}<br>\n      Date: {{ $now.setZone('America/Buenos_Aires').format('yyyy-MM-dd') }}\n      Time: {{ $now.setZone('America/Buenos_Aires').format('HH:mm') }}\n    </div>\n  </div>\n</body>\n</html>",
        "options": {}
      },
      "id": "ab4362b1-9215-4590-bae8-305ed557bd77",
      "name": "Gmail Notification Tool",
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.2,
      "position": [
        2240,
        944
      ],
      "webhookId": "f7ae853c-2c04-4693-bee5-3523b7d8c01f",
      "credentials": {
        "gmailOAuth2": {
          "id": "UCqbBJa2PzuV0zyG",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Delivery Analysis:\nID: ' {{ $json.ID }} | City: ' {{ $json.Ciudad  || 'N/A'}} | Addr: ' {{ $json[\"Dirección\"]  || 'N/A' }} | Time: ' {{ $json[\"Hora programada\"]|| 'N/A' }} | Op: '{{ $('Workflow Configuration').item.json.operatorEmail }} | Sup: '{{ $('Workflow Configuration').item.json.supervisorEmail }}'\n\nTasks:\n1. Calc total Risk % (0-100).\n2. If Risk > 50%: Notify Op via `` + suggest route.\n3. On API error: Notify Sup via `Send Email Notification`.\n4. Finally return a JSON response according to provided structure.\n\n",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "You are a logistics risk assessment AI agent. Your job is to analyze delivery conditions and make decisions to ensure safe and timely deliveries.\n\nRisk Assessment Rules:\n- Weather risk: Rain probability > 70% = high risk (50+ points), 40-70% = medium (30 points), < 40% = low (10 points)\n- Traffic risk: Heavy delays > 30min = high risk (50+ points), 15-30min = medium (30 points), < 15min = low (10 points)\n- Overall risk = (weatherRisk + trafficRisk) / 2\n- Do not assume risk levels.\n\nActions:\n- If overall risk > 50%: Send email to operator with alternative route suggestion\n- If API error occurs: Send email to supervisor immediately\n- Always provide clear reasoning for your assessment\n\nBe proactive and prioritize delivery safety and customer satisfaction."
        }
      },
      "id": "56931378-a9ec-4af0-8ac2-590779afc1f7",
      "name": "Risk Analysis Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        2040,
        720
      ],
      "alwaysOutputData": true,
      "executeOnce": true,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1Q3KFPx4d4bYC-J5RYBDulDZof-O8GVdzho5ShBb3HyE",
          "mode": "list",
          "cachedResultName": "Daily Deliveries",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Q3KFPx4d4bYC-J5RYBDulDZof-O8GVdzho5ShBb3HyE/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Deliveries",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Q3KFPx4d4bYC-J5RYBDulDZof-O8GVdzho5ShBb3HyE/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "ID": "={{ $json.output.id }}",
            "Decision": "={{ $json.output.recommendation }}",
            "Total Risk": "={{ $json.output.riskLevel }}",
            "Traffic Risk": "={{ $json.output.trafficRisk }}",
            "Weather Risk": "={{ $json.output.weatherRisk }}",
            "Ciudad": "={{ $('Read Daily Deliveries').item.json.Ciudad }}"
          },
          "matchingColumns": [
            "ID"
          ],
          "schema": [
            {
              "id": "ID",
              "displayName": "ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Ciudad",
              "displayName": "Ciudad",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Dirección",
              "displayName": "Dirección",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Hora programada",
              "displayName": "Hora programada",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Operador",
              "displayName": "Operador",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Decision",
              "displayName": "Decision",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Total Risk",
              "displayName": "Total Risk",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Traffic Risk",
              "displayName": "Traffic Risk",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Weather Risk",
              "displayName": "Weather Risk",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "58543c15-f2e1-4f7b-b2e3-a97a528c940c",
      "name": "Log Decision to Sheet",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        3184,
        992
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "cWLSasyDmdFoHq1F",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {},
      "id": "819a2e3e-19da-4502-8970-65957ff60c11",
      "name": "Error Trigger",
      "type": "n8n-nodes-base.errorTrigger",
      "typeVersion": 1,
      "position": [
        736,
        1312
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "id-1",
              "name": "deliveryId",
              "value": "={{ $json.deliveryId || 'Unknown' }}",
              "type": "string"
            },
            {
              "id": "id-2",
              "name": "cityOrZone",
              "value": "={{ $json.city || $json.zone || $json.location || 'Unknown' }}",
              "type": "string"
            },
            {
              "id": "id-3",
              "name": "riskDetected",
              "value": "API Error / Data Incomplete",
              "type": "string"
            },
            {
              "id": "id-4",
              "name": "actionTaken",
              "value": "Notified supervisor - API failure",
              "type": "string"
            },
            {
              "id": "id-5",
              "name": "alternativeRoute",
              "value": "N/A",
              "type": "string"
            },
            {
              "id": "id-6",
              "name": "status",
              "value": "REVISION_PRIORITARIA",
              "type": "string"
            },
            {
              "id": "id-7",
              "name": "timestamp",
              "value": "={{ $now.setZone('America/Buenos_Aires') }}",
              "type": "string"
            },
            {
              "id": "id-8",
              "name": "errorDetails",
              "value": "={{ $json.error?.message || 'Workflow error occurred' }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "b25674cd-f5b7-43d8-b24c-eb7e9ea70ccc",
      "name": "Format Error Notification",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        960,
        1312
      ]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1Q3KFPx4d4bYC-J5RYBDulDZof-O8GVdzho5ShBb3HyE",
          "mode": "list",
          "cachedResultName": "Daily Deliveries",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Q3KFPx4d4bYC-J5RYBDulDZof-O8GVdzho5ShBb3HyE/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 50538550,
          "mode": "list",
          "cachedResultName": "LOG_ERRORS",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Q3KFPx4d4bYC-J5RYBDulDZof-O8GVdzho5ShBb3HyE/edit#gid=50538550"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [
            {
              "id": "Execution ID",
              "displayName": "Execution ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Error",
              "displayName": "Error",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Supervisor Notificado",
              "displayName": "Supervisor Notificado",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Timestamp",
              "displayName": "Timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "4ea1dba1-91da-47aa-b2c3-435ed0d8b6a6",
      "name": "Log Error to Sheet",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1184,
        1312
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "cWLSasyDmdFoHq1F",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        1856,
        944
      ],
      "id": "13645386-8e77-457b-97b2-2930df08c682",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "j099853ldREEX9te",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        736,
        896
      ],
      "id": "f2a33ea6-eed4-408a-ad15-7bae46f11dc9",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1Q3KFPx4d4bYC-J5RYBDulDZof-O8GVdzho5ShBb3HyE",
          "mode": "list",
          "cachedResultName": "Daily Deliveries",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Q3KFPx4d4bYC-J5RYBDulDZof-O8GVdzho5ShBb3HyE/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 50538550,
          "mode": "list",
          "cachedResultName": "LOG_ERRORS",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Q3KFPx4d4bYC-J5RYBDulDZof-O8GVdzho5ShBb3HyE/edit#gid=50538550"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Execution ID": "={{ $execution.id }}",
            "Timestamp": "={{ $now.setZone('America/Buenos_Aires') }}",
            "Error": "={{ $json.output.error }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Execution ID",
              "displayName": "Execution ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Error",
              "displayName": "Error",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Timestamp",
              "displayName": "Timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "8125581e-9796-4e3e-b5d8-9040282b8ed4",
      "name": "Log Error to Sheet1",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        2960,
        624
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "cWLSasyDmdFoHq1F",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.Ciudad }}",
        "sessionTTL": 20
      },
      "type": "@n8n/n8n-nodes-langchain.memoryRedisChat",
      "typeVersion": 1.5,
      "position": [
        736,
        1536
      ],
      "id": "50a5349a-8b7e-4a54-8dc8-bb7e3f375859",
      "name": "Redis Chat Memory",
      "credentials": {
        "redis": {
          "id": "dvy1eUcK3oHohRmX",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        2448,
        1152
      ],
      "id": "372be863-d80c-4cdf-bc59-2151fa40efac",
      "name": "Google Gemini Chat Model1",
      "credentials": {
        "googlePalmApi": {
          "id": "j099853ldREEX9te",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1Q3KFPx4d4bYC-J5RYBDulDZof-O8GVdzho5ShBb3HyE",
          "mode": "list",
          "cachedResultName": "Daily Deliveries",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Q3KFPx4d4bYC-J5RYBDulDZof-O8GVdzho5ShBb3HyE/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Deliveries",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Q3KFPx4d4bYC-J5RYBDulDZof-O8GVdzho5ShBb3HyE/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Decision": "=ERROR:  {{ $json.Error }}",
            "ID": "={{ $('Read Daily Deliveries').item.json.row_number }}"
          },
          "matchingColumns": [
            "ID"
          ],
          "schema": [
            {
              "id": "ID",
              "displayName": "ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Ciudad",
              "displayName": "Ciudad",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Dirección",
              "displayName": "Dirección",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Hora programada",
              "displayName": "Hora programada",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Operador",
              "displayName": "Operador",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Decision",
              "displayName": "Decision",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "5250cde0-6362-4576-bd59-8e6ba3887e53",
      "name": "Log Error to Sheet2",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        3184,
        624
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "cWLSasyDmdFoHq1F",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "1b1bd70b-ddac-4ce6-bdd7-ed2f0fb837c9",
              "leftValue": "={{ $json.output.trafficRisk }}",
              "rightValue": -1,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            },
            {
              "id": "b0cda3ff-5ece-4b9c-aac4-c8ba01a3c641",
              "leftValue": "={{ $json.output.riskLevel }}",
              "rightValue": "-1",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "521ed1b8-f2a4-433c-9448-89020485652e",
              "leftValue": "={{ $json.output.weatherRisk }}",
              "rightValue": -1,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "or"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        2736,
        720
      ],
      "id": "66e1923a-b8ed-46d5-89c6-65ba625197fa",
      "name": "Error or Decision"
    }
  ],
  "connections": {
    "Workflow Configuration": {
      "main": [
        [
          {
            "node": "Read Daily Deliveries",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Daily Deliveries": {
      "main": [
        [
          {
            "node": "Risk Analysis Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Risk Analysis Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Weather API Tool": {
      "ai_tool": [
        [
          {
            "node": "Risk Analysis Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Traffic API Tool": {
      "ai_tool": [
        [
          {
            "node": "Risk Analysis Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Gmail Notification Tool": {
      "ai_tool": [
        [
          {
            "node": "Risk Analysis Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Error Trigger": {
      "main": [
        [
          {
            "node": "Format Error Notification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Risk Analysis Agent": {
      "main": [
        [
          {
            "node": "Error or Decision",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Error Notification": {
      "main": [
        [
          {
            "node": "Log Error to Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Risk Analysis Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Workflow Configuration",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Structured Output Parser",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Log Error to Sheet1": {
      "main": [
        [
          {
            "node": "Log Error to Sheet2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Error or Decision": {
      "main": [
        [
          {
            "node": "Log Error to Sheet1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Log Decision to Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "saveDataSuccessExecution": "all",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "staticData": null,
  "pinData": {},
  "triggerCount": 0,
  "meta": {
    "templateCredsSetupCompleted": true
  }
}